<div id="tag-page">
  <div class="tag-header">
    <h1 class="tag-title">🏷️ <%= page.tag %></h1>
    <% 
      var current_lang = get_current_lang()
      var filtered_posts = filter_posts_by_lang(page.posts, current_lang)
    %>
    <% if (page.tag) { %>
      <p class="tag-count">共 <%= filtered_posts.length %> 篇文章</p>
    <% } %>
  </div>

  <ul class="post-list">
    <% var year = 0 %>
    <% var change = false %>
    <% filtered_posts.sort('date', 'desc').each(function(post) { %>
      <% var itemYear = date(post.date, 'YYYY') %>
      <% change = year !== itemYear %>
      <% year = change ? itemYear : year %>
      <% if (change) { %>
        <li class="post-year"><h2><%= year %></h2></li>
      <% } %>
      <li class="post-item">
        <%- partial('_partial/post/date', { post: post, class_name: 'meta' }) %>
        <span><%- partial('_partial/post/title', { post: post, index: true, class_name: '' }) %></span>
      </li>
    <% }); %>
  </ul>
  <%- partial('_partial/pagination') %>
</div>
